# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/e2e/cypress/integration/examples
/e2e/cypress/screenshots
e2e/cypress/videos
.circleci/dummy.yml

# production
/build
/server/server

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

build
.gradle

node_modules/
vendor

# JetBrains
server/.idea/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
server/main
